.App {
  text-align: center;
  /* width: vw; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

@media screen and (max-width: 1020px) {
  .charts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
